.hidden {
    display: none;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    margin-top: 1%;
    overflow-x: hidden;
    color: whitesmoke;
    align-items: center;
    justify-content: center;         
}

img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: brightness(40%);
}

input{
    background: none;
    appearance: none;
    border: 0;
    font-size: 15px;
    color: white;
    border-bottom: 2px solid gray;
    margin: 10px;
}

#clockDate{
    font-size: 20px;
}

#clock {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
}

#weather{
    padding: 10px;
}

#greeting {
    padding: 10px;
    font-size: 40px;
    margin: 0;
}   

#quote{
    padding: 20px;
    opacity: 0.8;
    font-style: italic;
}

#todo-list{
    list-style: none;
}

#redButton{
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: none;
}

